/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.pIntro{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.349)),url("/assets/backgrounds/h_img.jpg");
    color: white;
    height:100vh;
    text-transform: uppercase;
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
}
.intro{
    font-size: small;
    margin-top: 0px;
}
.logo1{
    margin-bottom: 30px;
}
.logo2{
    padding-top: 200px;
}
.aboutus{
    text-transform: uppercase;
    padding-top: 35px;
    
}
.container2{
    text-align: center;
    line-height: 40px;
    padding-bottom: 30px;
    font-size: 16px;
}
.section3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.609),rgba(0, 0, 0, 0.397)), url("/assets/backgrounds/s_image.jpg");
    background-repeat: none;
    margin: 10px
}
.container3{
    text-align: center;
    line-height: 40px;
    color:white;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 90px;
}
.section3title{
    font-weight: bold;
    padding-bottom: 10px;
}
figcaption{
    margin:0px 16px;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 15px;
}
#row4{
    text-align: center;
    margin-bottom: 50px;
}
.title4{
    text-align: center;
    margin: 40px;
}
.section4 img{
    height: 70px;
}
.messShowing1,
.messShowing2,
.messShowing3{
    display: none;
}
.labels{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.clickable1,
.clickable2,
.clickable3{
    cursor: pointer;
}
.row5 img{
    height:90%;
    width: 100%;
    text-align: center;
}
.section5{
    margin-bottom: 50px;
}
.section5title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#container5{
    text-align: center;
}